<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/home.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="left-links">
        <a href="/">HealthBridge</a>
      </div>
      <div class="right-links">
        <a href="/login">Login</a>
        <a href="/signup">SignUp</a>
      </div>
    </div>
    
    <div class="Heading">
      <div class="content">
        <h1>Your Health, Your Schedule</h1>
        <p>
          Take charge of your health by booking appointments at your convenience
        </p>
        <a href="/login"><button class="get-started-button">Book Appointment</button></a>
      </div>
      
      <div class="down-pane">
        <img src="assets/b_image.jpg" alt="Login Image" />
      </div>
    </div>
  </body>
</html>
