@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  background-color: #0056b3;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  margin-right: 60px;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
}

.Heading {
  width: 100%;
  margin-top:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 0px 0px;
}

.content h1 {
  font-size: 4.5rem;
  font-weight: 300;
  color: #020202;
  text-align: center;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.5rem;
  color: #485664;
  text-align: center;
  max-width: 800px;
}

.get-started-button {
  background-color: #007bff;
  color: white;
  padding: 16px 28px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 20px;
  margin-left: 250px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.get-started-button:hover {
  background-color: #0056b3;
}

.down-pane {
  width: 80%;
  max-width: 800px;
}

.down-pane img {
  max-width: 90%;
  /* padding: 20px;
  background-color: #0056b3; */
  border: none;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Flexbox layout to position text and image side by side for large screens */
@media (min-width: 700px) {
  .Heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    flex: 1;
    margin-right: 20px;
  }

  .down-pane {
    flex: 1;
    max-width:70%
  }
}

/* Responsive text scaling */
@media (max-width: 700px) {
  .content h1 {
    font-size: 3.5rem;
  }

  .content p {
    font-size: 1.2rem;
  }

  .get-started-button {
    font-size: 1.3rem;
  }
}
